<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chrisf.socialq"
    android:targetSandboxVersion="2">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.chrisf.socialq.userinterface.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/IceTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- START APPLICATION ACTIVITIES -->
        <!-- Splash activity that determines app launch landing -->
        <activity
            android:name=".userinterface.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IceTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="fryguy1991.github.io" />
                <data android:pathPattern="/instant" />
            </intent-filter>
        </activity>

        <!-- Activity for launch screen -->
        <activity
            android:name="com.chrisf.socialq.userinterface.activities.LaunchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Activity for setting up a host queue -->
        <activity
            android:name=".userinterface.activities.HostQueueOptionsActivity"
            android:parentActivityName=".userinterface.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity for host screen -->
        <activity
            android:name="com.chrisf.socialq.userinterface.activities.HostActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Activity for client screen -->
        <activity
            android:name="com.chrisf.socialq.userinterface.activities.ClientActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Activity for search screen -->
        <activity
            android:name=".userinterface.activities.SearchActivity"
            android:label="@string/search_activity_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity for prompting Spotify sign in -->
        <activity
            android:name=".userinterface.activities.GateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IceTheme.GradientBackground" />

        <!-- Activity for Spotify login (created by Spotify) -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- END APPLICATION ACTIVITIES -->

        <!-- START APPLICATION SERVICES -->
        <!-- Service For host -->
        <service
            android:name="com.chrisf.socialq.services.HostService"
            android:description="@string/host_service_description"
            android:exported="false" />

        <!-- Service For client -->
        <service
            android:name="com.chrisf.socialq.services.ClientService"
            android:description="@string/client_service_description"
            android:exported="false" />

        <!-- Service For access token refresh -->
        <service
            android:name="com.chrisf.socialq.services.AccessService"
            android:description="@string/access_service_description"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- END APPLICATION SERVICES -->
    </application>
</manifest>
